*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header > a {
  color: inherit;
  font-size: 26px;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

.Loader {
  margin: 0 auto;
}
